* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100vh;
  background: #dfdfdf;
}
.wrap #board {
  display: flex;
  margin: 0 20px 20px 0;
}
.wrap #board .left-board {
  display: flex;
  flex-direction: column;
}
.wrap #board .left-board .avatar-board {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}
.wrap #board .left-board .military-board {
  background: #a31010;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.wrap #board .left-board .military-board .token {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap #board .left-board .military-board .token.active {
  background: yellow;
}
.wrap #board .center-board {
  display: flex;
  flex-direction: column;
}
.wrap #board .center-board .tokens-board {
  display: flex;
  height: 50px;
  border: 1px solid black;
  background: #795548;
}
.wrap #board .center-board .tokens-board .token {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap #board .center-board .player-cards-board {
  flex-grow: 1;
  min-width: 640px;
  min-height: 215px;
  background: #fffce1;
  display: flex;
}
.wrap #board .center-board .player-cards-board .player-cards-type .card {
  width: 70px;
  height: 90px;
  border: 1px solid black;
  border-radius: 8px;
  margin: 5px;
}
.wrap #board .right-board {
  display: flex;
  flex-direction: column;
}
.wrap #board .right-board .moneys-board {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}
.wrap #board .right-board .science-tokens-board {
  background: green;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  box-sizing: border-box;
  align-items: center;
}
.wrap #board .right-board .science-tokens-board .token {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap #board .right-board .science-tokens-board .token.empty {
  border: 1px solid yellow;
}
.card {
  display: flex;
  flex-direction: column;
}
.card.hidden {
  border: 1px solid black;
  background: black;
  background: url('/assets/cards/backcard.png') no-repeat center;
}
.card.accessible {
  box-shadow: 0 0 2px 2px gold;
}
.card.emptyplace {
  border: none;
}
.card.selected {
  opacity: 0;
  pointer-events: none;
}
.card.brown .card-head {
  background: #6a4c42;
}
.card.brown .card-inner {
  background: #ad9790;
}
.card.gray .card-head {
  background: #6e6767;
}
.card.gray .card-inner {
  background: #b3b3b3;
}
.card.green .card-head {
  background: #1c5a1c;
}
.card.green .card-inner {
  background: #74a974;
}
.card.yellow .card-head {
  background: #c1a900;
}
.card.yellow .card-inner {
  background: #fff18c;
}
.card.red .card-head {
  background: #7c1414;
}
.card.red .card-inner {
  background: #cf9a9a;
}
.card.blue .card-head {
  background: #255a91;
}
.card.blue .card-inner {
  background: #8ba7c3;
}
.card .card-head {
  height: 35px;
}
.card .card-inner {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.card .card-inner .cost-wrap {
  padding: 4px 4px 2px 4px;
}
.card .card-inner .free-symbol {
  margin-left: 4px;
}
.card .card-inner .card-title {
  margin: 5px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.card .card-inner .card-title span {
  font-size: 8px;
  background: #e7e7e7;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  text-align: center;
  font-weight: 700;
  border-radius: 6px;
  padding: 3px 5px;
  line-height: 10px;
}
.card .free-symbol span {
  color: white;
  background: black;
  font-size: 12px;
  line-height: 12px;
  display: inline-block;
  padding: 3px;
  border-radius: 5px;
}
.card .effects-wrap {
  padding: 6px 4px;
  display: flex;
  justify-content: center;
  position: relative;
}
.card .effects-wrap .free-symbol {
  position: absolute;
  right: 5px;
}
.card .cost,
.card .effect {
  width: 22px;
  height: 22px;
  display: inline-block;
  border: 2px solid black;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .cost.science-symbol,
.card .effect.science-symbol {
  background: #66ae66;
  border-color: #3d663d;
  color: white;
  font-weight: bold;
  font-size: 10px;
}
.card .cost.money,
.card .effect.money {
  background: #efd651;
  border: 2px solid #e7bb6b;
  font-size: 14px;
  font-weight: bold;
  color: black;
}
.card .cost.points,
.card .effect.points {
  background: #60a8b9;
  border: 2px solid #197a91;
  font-size: 14px;
  font-weight: bold;
  color: white;
}
.card .cost.military,
.card .effect.military {
  background: url('/assets/cards/swords.png') #b36262 no-repeat center;
  background-size: 12px;
}
.card .cost.glass,
.card .effect.glass {
  background: url('/assets/cards/vial.png') #caf9ff no-repeat center;
  background-size: 18px;
}
.card .cost.papyrus,
.card .effect.papyrus {
  background: url('/assets/cards/papyrus.png') #f9de8f no-repeat center;
  background-size: 13px;
}
.card .cost.stone,
.card .effect.stone,
.card .cost.discount_stone,
.card .effect.discount_stone {
  background: url('/assets/cards/granite.png') #d9d9d9 no-repeat center;
  background-size: 15px;
}
.card .cost.clay,
.card .effect.clay,
.card .cost.discount_clay,
.card .effect.discount_clay {
  background: url('/assets/cards/brick.png') #ffddaa no-repeat center;
  background-size: 15px;
}
.card .cost.wood,
.card .effect.wood,
.card .cost.discount_wood,
.card .effect.discount_wood {
  background: url('/assets/cards/wood.png') #58382d no-repeat center;
  background-size: 15px;
}
.card .cost.discount_wood,
.card .effect.discount_wood,
.card .cost.discount_stone,
.card .effect.discount_stone,
.card .cost.discount_clay,
.card .effect.discount_clay {
  position: relative;
}
.card .cost.discount_wood:after,
.card .effect.discount_wood:after,
.card .cost.discount_stone:after,
.card .effect.discount_stone:after,
.card .cost.discount_clay:after,
.card .effect.discount_clay:after {
  content: '1';
  width: 12px;
  height: 12px;
  border: 1px solid black;
  background: #ffeb3b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  top: -4px;
  left: -4px;
  border-radius: 100%;
}
#cards-board .row {
  display: flex;
  justify-content: center;
}
#cards-board .row .card {
  width: 85px;
  height: 125px;
  border-radius: 8px;
  overflow: hidden;
  margin: 5px;
}
#cards-board .row:not(:first-child) {
  margin-top: -55px;
}
